
/* 게시판 공통(글목록, 글쓰기, 글보기, 글수정, 버튼등) */
#board {
	width: 900px;
	margin: 60px auto;
}

#board > .user { float: right; margin-bottom: 10px; }

#board table {
	width: 100%;
	border-top: 2px solid #111;
	/* 테이블 테두리간 여백을 제거 */
	border-collapse: collapse;
}

#board table td {
	padding: 8px 5px;
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
}


#board > .btnWrite {
	float: right;
	padding: 7px;
	margin-top: -50px;
	background: #f2f2f2;
    border: 1px solid #d7d7d7;
}

#board .btns { float: right; margin-top: 10px; }
#board .submit {
	padding: 7px;
	border: 1px solid #3b3c3f;
	background: #4b545e;
	color: #fff;
}

#board .cancel {
	padding: 7px;
	border: 1px solid #d9ded9;
	background: #f2f5f9;
	color: #000;
}

/* 글쓰기 */
#board > .write input[name=subject] { width: 100%; height: 22px; border: 0; }
#board > .write table {
	margin: 0 auto;
    width: 90%;
}
#board > .write textarea { width: 100%; border: 0; resize: none; }
#board > .write td:nth-child(1) { 
	width: 100px;
	background: #f5f8f9;
	text-align: center; 
}
#board > .write .btns {
	float: right;
	margin-right: 80px;
}
#board > .write .btns > a {
	padding-right: 20px;
}

/* 글목록 */
#board > .list {
	position: relative;
}

#board .logout { 
	position: absolute;
	right: 0;
	top: -60px;
}

#board > .list tr:nth-child(1) > td {
	padding: 12px;
	border-top: 1px solid #d1dee2;
	border-bottom: 1px solid #d1dee2;
	background: #e5ecef;
	color: #383838;
}

#board > .list tr:nth-child(1) > td:nth-child(2) { text-align: center; } 

#board > .list td:nth-child(1) { width: 50px; text-align: center; }
#board > .list td:nth-child(2) { width: auto; text-align: left; }
#board > .list td:nth-child(3) { width: 100px; text-align: center; }
#board > .list td:nth-child(4) { width: 110px; text-align: center; }
#board > .list td:nth-child(5) { width: 50px; text-align: center; }

/* 글목록-페이징 */
#board > .paging {
	margin: 0 0 20px;
	padding: 20px 0 0;
	text-align: center;
}

#board > .paging a {
	display: inline-block;
	padding: 0 8px;
	height: 25px;
	color: #000;
	background: #f2f2f2;
	border: 1px solid #d7d7d7;
	line-height: 25px;
}

#board > .paging .current {
	border: 1px solid #6d6d6d;
	background: #888;
	color: #fff;
}

/* 글보기 */
#board > .view input[name=subject] { width: 100%; height: 22px; border: 0; }
#board > .view table {
	width: 90%;
    margin: 0 auto;
}
#board > .view textarea { width: 100%; border: 0; resize: none; }
#board > .view td:nth-child(1) { 
	width: 100px;
	background: #f5f8f9;
	text-align: center; 
}

#board > .view .btns {
	float: right;
	margin-top: 10px;
	margin-right: 80px;
}
#board > .view .submit {
	padding: 7px;
	border: 1px solid #3b3c3f;
	background: #4b545e;
	color: #fff;
}

#board > .view .cancel {
	padding: 7px;
	border: 1px solid #d9ded9;
	background: #f2f5f9;
	color: #000;
}
/* 댓글 창*/
#board > section {
	width: 86%;
	margin: 0 auto;
	margin-bottom: 20px;
}
#board > section:nth-of-type(1) {
	margin-top: 100px;
}

/* 댓글쓰기 */
.comment_write {
	padding: 20px 20px 10px 20px;
	border: 1px solid #e3e3e3;
	background: #f9f9f9;
	margin-top: 20px;
}

.comment_write > h3 {
	font-weight: bold;
	border-bottom: 1px dotted #999;
	padding-bottom: 6px;
}

.comment_write > div {
	margin-top: 10px;
	padding-bottom: 10px;
}

.comment_write textarea {
	width: 100%;
	resize: none;
	border: 1px solid #e4eaec;
	color: #000;
}

/* 댓글목록 */
.comments {
	padding: 20px 20px 10px;
	border: 1px solid #e3e3e3;
	background: #f9f9f9;
	margin-top: 40px;
}

.comments > h3 {
	font-weight: bold;
}

.comments > .comment {
	border-top: 1px dotted #999;
	margin-top: 10px;
	padding-top: 10px;
}

.comments textarea {
	width: 100%;
	border: 0;
	background: transparent;
	color: #000;
	margin: 10px 0;
	resize: none;
}

.comment > div {
	text-align: right;
}

.comments > .empty {
	margin: 0;
	padding: 20px !important;
	text-align: center
}










