@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
.background {
    min-width: 1920px;
    min-height: 937px;
    background: url('../img/ny_idx2.jpg') no-repeat center local;
    background-size: cover;
}
.navbar {
    position: absolute;
    width: 1200px;
    margin-left: 50%;
    left: -566px;
    margin-top: 490px;
    height: 150px;
    box-sizing: border-box;
}
.navbar li {
    float: left;
    text-align: center;
    margin-right: 104px;
    line-height: 60px;
}
.navbar li:last-of-type {
    margin-right: 0px;
}
.navbar h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
    font-weight: 800;
    color: seashell;
}
.navbar h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: seashell;
}