@import url('https://fonts.googleapis.com/css?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean');

 /* 초기화 */
 * {
    margin: 0;                                /*모든 문자의 margin과 padding 0.*/
    padding: 0;
}

body {
    font: normal 12px;          
    font-family: 'Noto Sans KR', sans-serif;       /*body 내의 기본 폰트 설정*/
    font-weight: 100;
}

ul, ol {list-style: none;}                     /* ul, ol 앞에 오는 데코에이션 초기화*/
a {text-decoration: none; color: #111;}      /*링크타는 폰트 색 검정색으로 설정*/
/* 사이드배너 */
#side_banner {
    position: fixed;
    width: 140px;
    top: 50px;
    right: 50%;
    margin-right: -745px;
}
#side_banner > .monthlylist {
    height: 155px;
    margin-bottom: 25px;
    padding-top: 25px;
    text-align: center;
    background: url(../img/cal.png) no-repeat;
    background-position-y: 20px;
    background-size: 50%;
    background-position-x: center;
    background-color: white;
    border: 1px solid #f1f1f1;
    box-sizing: border-box;
}
#side_banner > .monthlylist span {
    display: inline-block;
    font-size: 10px;
    font-weight: 100;
    color: #ffa02f;
    margin-top: 80px;
}
#side_banner > .monthlylist h3 {
    margin-top: -5px;
}
#side_banner > .todayview {
    height: 200px;
    background: white;
    border: 1px solid #f1f1f1;
    box-sizing: border-box;
}
#side_banner > .todayview > .todaytitle {
    height: 35px;
    padding-top: 5px;
    background-color: black;
    text-align: center;
    box-sizing: border-box;
}
#side_banner > .todayview > .todaytitle > span {
    display: inline-block;
    font-weight: 800;
    color: white;
}
#side_banner > .todayview > div > p {
    padding: 4px 0 0 6px;
    font-size: 12px;
}
#side_banner > .topmove {
    height: 50px;
    border: 1px solid #ffa02f;
    box-sizing: border-box;
}
#side_banner > .topmove > a {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 800;
    color: #fff;
    text-align: center;
    background-color: #ffa02f;
    box-sizing: border-box;
}

/* 헤더 */
header {
    width: 100%;
}
header > div {
    width: 1150px;
    margin: 0 auto;
}
header > #top_header {
    width: 100%;
    overflow: hidden;
    height: 25px;
    background: #fbfbfb;
    border-bottom: 1px solid #e8e8e8;
}
header > #top_header > div {
    position: relative;
    width: 1150px;
    margin: 0 auto;
}
header > #top_header ul {
    float: right;
    display: inline;
}
header > #top_header li:first-of-type {
    position: absolute;
    left: 0px;
}
header > #top_header li {
    float: left;
    margin-right: 10px;
}
header > #top_header li > a {
    font-size: 13px;
    font-weight: 400;
}

header > #nav_header {
    height: 110px;
}
header> #nav_header > div {
    box-sizing: border-box;
    display: inline-block;
}
header> #nav_header .logo a {
    background: url('../img/logo1.png') no-repeat center;
    background-size: 50%;
}
header> #nav_header > .gnb {
    width: 100%;
    height: 100%;
}
header> #nav_header > .gnb > div:nth-of-type(1) {
    width: 26%;
}
header> #nav_header > .gnb > div {
    float: left;
    width: 18%;
    height: 100%;
}
header> #nav_header > .gnb >div > a {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;

}
header> #nav_header > .gnb h3 {
    text-align: center;
    margin-top: 15%;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;

}

/* 메인 */
main > div {
    width: 100%;
}
main > div > h1 {
    margin-left: 33px;
}
main > div > div {
    width: 1150px;
    height: 100%;
    margin: 0 auto;
}

main > .adbanner1 {
    width: 100%;
    height: 500px;
    background: #f1f1f1;
}

main > .adbanner1 li {
    position: relative;
}
/* main > .adbanner1 li:nth-of-type(2) {
    display: none;
} */
main > .adbanner1 img {
    display: block;
    margin: 0 auto;
}

main > .shortcuts {
    height: 450px;
    padding-top: 60px;
}
main > div > h2 {
    font-size: 45px;
    font-weight: 100;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}
main > div > p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    color: #666666;
    margin-bottom: 30px;
    text-align: center;
}
main > .shortcuts > div {
    
}

main > .shortcuts li {
    float: left;
    width: 16%;
    margin-left: 7px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;
}
main > .shortcuts img {
    width: 100%;
}


main > .bestgoods {
    height: 700px;
    background: #f1f1f1;
    padding-top: 60px;
}
main > .bestgoods li {
    float: left;
    margin: 0px 35px 0px 0px;
}
main > .bestgoods li:nth-of-type(1) {
    margin-left: 0px;
}
main > .bestgoods li:nth-of-type(3) {
    margin-right: 0px;
}
main > .bestgoods .imgbox {
    width: 360px;
    height: 285px;
}
main > .bestgoods .txtbox {
    width: 360px;
    background: #fff;
    height: 175px;
}
main > .bestgoods .txtbox span {
    display: block;
}
main > .bestgoods .txtbox .area {
    height: 33px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    text-align: center;
    padding-top: 10px;
    border-bottom: 1px solid #ededed;
}
main > .bestgoods .txtbox .depature1 {
    float: left;
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #000;
    line-height: 1.6;
    margin-left: 19px;
    margin-right: 5px;
    margin-top: 18px;
}
main > .bestgoods .txtbox .subtxt1 {
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #888888;
    line-height: 1.6;
    margin-top: 18px;
    display: block;
}

main > .bestgoods .txtbox .depature2 {
    float: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    color: #000;
    line-height: 1.6;
    margin-left: 19px;
    margin-right: 5px;
}
main > .bestgoods .txtbox .subtxt2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    color: #888888;
    margin-left: -62px;
    line-height: 1.6;
}
main > .bestgoods .txtbox .txtprice {
    float: left;
    bottom: 15px;
    margin-top: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    margin-left: 19px;
    color: #f18100;
    font-weight: 400;
}
main > .bestgoods .txtbox .depbtn {
    float: right;
    display: inline-block;
    margin-top: 26px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    width: 85px;
    height: 30px;
    text-align: center;
    line-height: 2.1;
    margin-right: 22px;
    border: 1px solid #888888;
}


main > .adbanner2 {
    height: 180px;
    width: 100%;
    background: #383a3f;
    padding: 40px 0 45px 0;
}
main > .adbanner2 li:nth-of-type(1){
    float: left;
}
main > .adbanner2 li:nth-of-type(2){
    float: right;
}

main > .TVarea {
    height: 500px;
    padding-top: 60px;
}
main > .TVarea > ul {
    width: 1150px;
    height: 370px;
    margin: 0 auto;
}
main > .TVarea > ul > li {
    width: 45%;
    height: 100%;
    float: left;
    box-sizing: border-box;
}
main > .TVarea .movie {
    margin-left: 56px;
}
main > .TVarea .movie > iframe {
    width: 100%;
    height: 100%;
}
main > .TVarea .txt {
    padding: 20px;
    margin-right: 0px;
    background: #383a3f;
}
main > .TVarea .txt p {
    font-size: 20px;
    font-weight: 200;
    color: seashell;
}
main > .TVarea .txt strong {
    font-size: 20px;
    font-weight: 500;
    color: #ffa02f;
}
main > .TVarea .txt span {
    font-size: 20px;
    font-weight: 500;
    color: seashell;
}


main > .recentlist {
    height: 282px;
    padding: 40px 0px 40px 0px;
    margin-top: 60px;
    background: #f1f1f1;
    box-sizing: border-box;
}
main > .recentlist > div > div {
    float: left;
    width: 25%;
    height: 100%;
    margin-right: 19.17px;
    background: white;
    box-sizing: border-box;
} 
main > .recentlist > div > div:last-of-type {
    width: 20%;
    margin-right: 0px;
}
main > .recentlist > div > div {
    padding: 20px;
    box-sizing: border-box;
}
main > .recentlist > div > div > h3 {
    float: left;
}
main > .recentlist > div > div > span {
    float: right;
    font-size: 13px;
    padding-top: 5px;

}

main > .recentlist .notice > ul {
    clear: left;
    padding-top: 20px;
}
main > .recentlist .notice > ul > li {
    padding-bottom: 5px;
}
main > .recentlist .review > ul {
    clear: left;
    padding-top: 20px;
}
main > .recentlist .review li {
    float: left;
    width: 48%;
    box-sizing: border-box;
}
main > .recentlist .review .img {}
main > .recentlist .review .txt {
    float: right;
}
main > .recentlist .review .txt > span {
    display: block;
    padding-bottom: 10px;
}
main > .recentlist .review .txt > .title {
    font-size: 13px;
}
main > .recentlist .review .txt > .content {
    font-size: 14px;
}
main > .recentlist .review li > img {
    width: 100%;
    height: 110px;
}

main > .recentlist .customer ul {
    float: left;
    width: 100%;
    padding-top: 5px;
    margin: 0 auto;
    text-align: center;
}
main > .recentlist .customer li {}
main > .recentlist .customer .tel {
    border-bottom: 1px solid #888888;
    margin-bottom: 5px;
    padding-bottom: 5px;

}
main > .recentlist .customer .account {}

main > .recentlist .sponsor > ul {
    padding-top: 40px;
}


/* 푸터 */
footer {
    background: #eaeaea;
    color: #666666;
    font-size: 12px;
}
footer a {
    color: #666666;
    font-size: 13px;
}
footer > div {
    border-top: 1px solid #d0d0d0;
}
footer > div > div {
    width: 1150px;
    margin: 0 auto;
}
footer > #top_footer {
    height: 50px;
}
footer > #top_footer li {
    float: left;
    margin-right: 3px;
    margin-top: 18px;
}


footer > #bot_footer {
    padding-top: 32px;
    height: 120px;
}
footer > #bot_footer span {
    font-weight: bold;
}

/* bxslider 옵션 */
.bx-wrapper > .bx-viewport {

	-moz-box-shadow: 0 0 0px #ccc;

	-webkit-box-shadow: 0 0 0px #ccc;

	box-shadow: 0 0 0px #ccc;

	/* border:  5px solid #fff; */

	left: 0px;

	background: #fff;/*fix other elements on the page moving (on Chrome)*/

	-webkit-transform: translatez(0);

	-moz-transform: translatez(0);

	-ms-transform: translatez(0);

	-o-transform: translatez(0);

	transform: translatez(0);

}
.bx-wrapper {
    width: 80%;
    box-shadow: 0 0 0px #ccc !important;
    border: 0px solid #fff !important;
    background: none !important;
}