/* 여행 페이지 (공통)*/
main > div {
    position: relative;
    width: 1150px;
    margin: 0 auto;
    min-height: 840px;
}
main > div > h1 {
    margin: 15px 70px;
}

/* 여행페이지 타이틀 탭 */
main > .USA_CAN > .travel > .travel_tit {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    box-sizing: border-box;
}
main > .USA_CAN > .travel > .travel_tit > .tab {
    width: 80%;
    height: 40px;
    margin: 0 auto;
}
main > .USA_CAN > .travel > .travel_tit > .tab > div {
    float: left;
    width: 33%;
    height: 100%;
    text-align: center;
    color: #000000;
    padding-top: 4px;
    border: 1px solid #f1f1f1;
    box-sizing: border-box;
}
main > .USA_CAN > .travel > .travel_tit > .tab > div h3 {
    font-weight: 400;
}

main > .USA_CAN > .travel > .travel_tit > .tab_tit_img {
    width: 95%;
    margin: 0 auto;
    margin-bottom: -5px;
}
main > .USA_CAN > .travel > .travel_tit > .tab_tit_img > img {
    width: 100%;
}

main > .USA_CAN > .travel > .travel_tit > .tab > div.on {
    background: #ffa02f;
    border: #ffa02f;;
}
main > .USA_CAN > .travel > .travel_tit > .tab > div.on  h3 {
    color: white;
}

/* 여행페이지 여행상품 리스트 */
main > .USA_CAN >.travel > .travel_content {
    width: 100%;
    height: 100%;
    padding: 0px 30px;
    box-sizing: border-box;
}
main > .USA_CAN >.travel > .travel_content .tit_img > img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
main > .USA_CAN >.travel > .travel_content .goods_list {
    width: 100%;
    height: 500px;
}


main .USA_CAN .goods_list {
    margin-top: 50px;
}
main .USA_CAN .goods_list li {
    float: left;
    margin: 0px 33.5px 0px 0px;
}
main .USA_CAN .goods_list li:nth-of-type(1) {
    margin-left: 0px;
}
main .USA_CAN .goods_list li:nth-of-type(3) {
    margin-right: 0px;
}
main .USA_CAN .goods_list .imgbox {
    width: 340px;
    height: 269px;
}
main .USA_CAN .goods_list .imgbox > img {
    width: 100%;
}
main .USA_CAN .goods_list .txtbox {
    width: 340px;
    height: 175px;
    background: #fff;
    border: 1px solid #ededed;
    box-sizing: border-box;
}
main .USA_CAN .goods_list .txtbox span {
    display: block;
}
main .USA_CAN .goods_list .txtbox .area {
    height: 33px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    text-align: center;
    padding-top: 10px;
    border-bottom: 1px solid #ededed;
}
main .USA_CAN .goods_list .txtbox .depature1 {
    float: left;
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #000;
    line-height: 1.6;
    margin-left: 19px;
    margin-right: 5px;
    margin-top: 18px;
}
main .USA_CAN .goods_list .txtbox .subtxt1 {
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #888888;
    line-height: 1.6;
    margin-top: 18px;
    display: block;
}

main .USA_CAN .goods_list .txtbox .depature2 {
    float: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    color: #000;
    line-height: 1.6;
    margin-left: 19px;
    margin-right: 5px;
}
main .USA_CAN .goods_list .txtbox .subtxt2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    color: #888888;
    margin-left: -62px;
    line-height: 1.6;
}
main .USA_CAN .goods_list .txtbox .txtprice {
    float: left;
    bottom: 15px;
    margin-top: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    margin-left: 19px;
    color: #f18100;
    font-weight: 400;
}
main .USA_CAN .goods_list .txtbox .depbtn {
    float: right;
    display: inline-block;
    margin-top: 26px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    width: 85px;
    height: 30px;
    text-align: center;
    line-height: 2.1;
    margin-right: 22px;
    border: 1px solid #888888;
}
