@import url('https://fonts.googleapis.com/css?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean');

 /* 초기화 */
 * {
    margin: 0;                                /*모든 문자의 margin과 padding 0.*/
    padding: 0;
}

body {
    position: relative;
    font: normal 12px;          
    font-family: 'Noto Sans KR', sans-serif;       /*body 내의 기본 폰트 설정*/
    font-weight: 100;
}

ul, ol {list-style: none;}                     /* ul, ol 앞에 오는 데코에이션 초기화*/
a {text-decoration: none; color: #111;}      /*링크타는 폰트 색 검정색으로 설정*/

/* 아이디/ 비밀번호 찾기 창 */
body {
    width: 430px;
    height: 500px;
}