<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservation List!</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/userReserList.css">
    <link rel="stylesheet" href="../../css/sidemenu.css">

</head>
<body>
    <!-- 사이드배너 -->
    <div id="side_banner">
        <div class="monthlylist">
            <a href="../../goods/monthlyStartingItems.html">
                <span>Knock The USA Tour</span>
                <h3>월별 출발 상품</h3>
            </a>
        </div>
        <div class="todayview">
            <div class="todaytitle">
                <span>TODAY VIEW</strong>
            </div>
            <div>
                <p>오늘 본 상품이 없습니다.</p>
            </div>
            <div></div>
        </div>
        <div class="topmove">
            <a href="#top_header">TOP</a>
        </div>
    </div>
    <!-- 사이드배너 끝 -->
    <!-- 헤더 -->
    <header>
        <div id="top_header">
            <div>
                <ul>
                    <li><a href="../../index.html">first page</a></li>
                    <li><a href="../login.html">로그인</a></li>
                    <li><a href="../registerStep1.html">회원가입</a></li>
                    <li><a href="./reserList.html">예약확인</a></li>
                    <li><a href="../../community/eventNow.html">이벤트</a></li>
                    <li><a href="">즐겨찾기 +</a></li>
                </ul>
            </div>
        </div>
        <div id="nav_header">
            <div class="gnb">
                <div class="logo">
                    <a href="../../home.html"></a>
                </div>
                <div><a href="../../introduce/introduce.html"><h3>회사소개</h3></a></div>
                <div><a href="../../goods/travelPackagesUSA.html"><h3>미국&캐나다</h3></a></div>
                <div><a href="../../community/notice.html"><h3>커뮤니티</h3></a></div>
                <div><a href="../../customer/faq.html"><h3>고객센터</h3></a></div>
            </div>
        </div>
    </header>
    <!-- 헤더 끝 -->
    <!-- 콘텐츠 -->
    <main>
        <div class="">
            <!-- 사이드메뉴 -->
            <div class="side_nav">
                <ul>
                    <li class="side_nav_title">
                        <h2>My Page</h2>
                    </li>
                    <li class="on">
                        <a href="./reserList.html"><h4>Reservation List</h4></a>
                    </li>
                    <li>
                        <a href="#"><h4>Your Information</h4></a>
                    </li>
                    <li>
                        <a href="#"><h4>Change Your PW</h4></a>
                    </li>
                    <li>
                        <a href="#"><h4>Wish List</h4></a>
                    </li>
                </ul>
            </div>
            <!-- 사이드메뉴 끝-->
            <h1>예약 확인</h1>
            <div class="">
            </div>
        </div>
    </main>
    <!-- 콘텐츠 끝 -->
    <!-- 푸터 -->
    <footer>
        <div id="top_footer">
            <div>
               <ul>
                    <li><a href="../../introduce/introduce.html">Knock The USA Tour 소개 |</a></li>
                    <li><a href="../../terms/chiefPrivacy.html"> 개인정보처리방침 |</a></li>
                    <li><a href="../../terms/standardTerm.html"> 해외여행약관 |</a></li>
                    <li><a href="../../introduce/direction.html"> 찾아오시는 길</a></li>
                </ul>
            </div>
        </div>
        <div id="bot_footer">
            <div>
                <div>
                    <p>
                        ㈜ 낙더유에스에이투어 부산광역 기 해운대구 해운대해변로 <br>
                        대표이사 : 더조은 | 개인정보관리책임자 : 이노크(knockknock@gmail.com) | 대표전화 : 051-111-2222 <br>
                        사업자등록번호 : 333-22-11111 | 통신판매업신고번호 : 제 2020-부산해운대-0000 호 | 관광 사업자 등록번호 : 제 2020-202020호 <br>
                        <br>
                        <br>
                        <span>Copyright ⓒ 2020 Knock The USA Tour. All Rights Reserved.</span>
                    </p>
                </div>
                <div class="sns">
                    <div></div>
                </div>
            </div>
        </div>
    </footer>
    <!-- 푸터 끝 -->
</body>
</html>